{% load static wagtailuserbar %}
<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>
    {% block title %}
    {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
    {% endblock %}
    {% block title_suffix %}
    {% with self.get_site.site_name as site_name %}
    {% if site_name %}- {{ site_name }}{% endif %}
    {% endwith %}
    {% endblock %}
  </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  {% block extra_css %}
  {% endblock %}

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <!-- <h1 class="text-light"><a href="/">أوسوفورتين</a></h1> -->
        <a href="/"><img src="{% static 'img/logo.png' %}" alt="" class="img-fluid"></a>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/">الرئيسية</a></li>
          <li><a href="/analysis">تحاليل معملية</a></li>
          <li> <a href="/videos">فيديوهات</a></li>
          <li><a href="/latest-news">آخر الأخبار</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->


    {% block body %}{% endblock %}

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-6 col-md-6 footer-info">
            <h3>أوسوفورتين</h3>
            <p>
              أوسوفورتين هو عبارة عن أقراص فيتامين د2 –إرجوكالسيفيرول- تستخدم سواء لعلاج حالات نقص فيتامين د داخل الجسم أو للحماية من نقصه.
              حيث يعد فيتامين د من أهم الفيتامينات التي يحتاجها الجسم كي يتمكن من الحفاظ على صحة العظام، وتعزيز المناعة وتحسين الصحة النفسية.
            </p>
          </div>


          <div class="col-lg-6 col-md-6 footer-contact">
            <h4>تواصل معنا</h4>
              <strong>تليفون:</strong> <span dir="ltr"> (+202) 239 92700</span>||
              <strong>فاكس: </strong> <span dir="ltr">(+202) 239 92771 </span>||
              <strong>الخط الساخن :</strong> <span dir="ltr">19790</span><br>
            </p>

            <div class="social-links d-flex justify-content-center">
              <a href="https://youtube.com/playlist?list=PL4f5jyOfcGAU6kK0WlnLFNAN1TGTnpWYh" class="youtube"><i class="bi bi-youtube"></i></a>
              <a href="https://www.facebook.com/supervitamineD" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="https://instagram.com/supervitamind?igshid=1b2h5oqlo8lpy" class="instagram"><i class="bi bi-instagram"></i></a>
            </div>

          </div>

        </div>
      </div>
    </div>
  </footer>
  <!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'vendor/purecounter/purecounter.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/waypoints/noframework.waypoints.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>
