{% extends "base.html" %}
{% load wagtailcore_tags wagtailroutablepage_tags wagtailimages_tags  wagtailuserbar%}
{% block body %}
{% wagtailuserbar 'bottom-left' %}
<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
  <div class="breadcrumb-hero">
    <div class="container">
      <div class="breadcrumb-hero">
        <h2>{{ page.title }}</h2>
        <p>{{ page.description }}</p>
      </div>
    </div>
  </div>
  <div class="container">
    <ol>
      <li><a href="/">الرئيسية</a></li>
      <li><a href="{{ page.get_parent.url }}">{{ page.get_parent.title }}</a></li>
      <li>{{ page.title }}</li>
    </ol>
  </div>
</section><!-- End Breadcrumbs -->

<!-- ======= Blog Single Section ======= -->
<section id="blog" class="blog">
  <div class="container" data-aos="fade-up">

    <div class="row">

      <div class="col-lg-10 entries mx-auto">

        <article class="entry entry-single">

          {% if page.header_image %}
          {% image page.header_image original as header_image %}
            <div class="entry-img">
              <img src="{{ header_image.url }}" alt="" class="img-fluid">
            </div>
          {% endif %}
          <h2 class="entry-title">
            <a href=""{% pageurl page %}">{{ page.title }}</a>
          </h2>

          <div class="entry-content">
            {{ page.body|richtext }}
          </div>

          <div class="entry-footer">
            {% with categories=page.categories.all %}
            {% if categories %}
              <i class="bi bi-folder"></i>
              <ul class="cats">
                {% for category in categories %}
                <li><a href="{% routablepageurl blog_page 'post_by_category' category.slug %}">{{ category.name }}</a></li>
                 {% endfor %}
              </ul>
            {% endif %}
            {% endwith %}
            {% if page.tags.all.count %}
              <i class="bi bi-tags"></i>
              <ul class="tags">
                {% for tag in page.tags.all %}
                  <li><a href="{% routablepageurl blog_page 'post_by_tag' tag.slug %}">{{ tag }}</a></li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>

        </article><!-- End blog entry -->


      </div><!-- End blog entries list -->

    </div>
    <div class="mt-5 mb-5" id="disqus_thread" dir="ltr"></div>
        <script>

        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

        var disqus_config = function () {
        this.page.url = "https://vitamin-d-ossofortin.com{% pageurl page %}";  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = "{% pageurl page %}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };

        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://ossofortin.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();

        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>

</section><!-- End Blog Single Section -->

{% endblock %}
